<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IConsultas" maxBufferSize="64000000" maxReceivedMessageSize="64000000" />
                <binding name="BasicHttpBinding_IConsultas1" maxBufferSize="64000000" maxReceivedMessageSize="64000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://40.76.47.188/ServicosWCFTelecargo/Consultas.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsultas1"
                contract="ServiceTelecargo.IConsultas" name="BasicHttpBinding_IConsultas1" />
            <endpoint address="http://localhost:51615/Consultas.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IConsultas" contract="ServiceLocal.IConsultas"
                name="BasicHttpBinding_IConsultas" />
        </client>
    </system.serviceModel>
</configuration>